@charset "UTF-8";

html{
    font-size: 100%;
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #000;
    font-style: normal;
}
body{
    background-color: #77F3FF;
}
li{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
img{
    width: 100%;
    vertical-align: bottom;
}

.main-box{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.section{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
    border: transparent solid 5px;
}
.section--dots{
    position: relative;
    z-index: 0;
    border: #000 solid 5px;
    padding: 70px 20px;
}
.section--dots::after{
    position: absolute;
    content: "";
    background-image: url(all_dots-bg.png);
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: -2;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.inner{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.section__heading{
    font-size: 3.9rem;
    letter-spacing: .3rem;
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(255,255,255,0) 75%);
    width: fit-content;
    padding: 0 225px 5px 190px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
}
.section__heading--small{
    font-size: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 160px;
}
.section__heading--spark::before{
    position: absolute;
    content: url(all_spark.png);
    width: 300px;
    height: 300px;
    top: 0;
    top: -150px;
    left: -30px;
    z-index: -1;
}
.section__heading--sub{
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(255,255,255,0) 75%);
    /* width: 700px; */
    padding: 20px 225px 15px 140px;
    top: -25px;
}
.section__heading--center{
    background: #000;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 630px;
    padding-right: 0;
    padding-left: 0;
    }
.section__heading--center::before,
.section__heading--center::after{
    position: absolute;
    content: "";
    display: block;
    width: 45px;
    height: 100%;
    top: 0;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
}
.section__heading--center::before{
    /* clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 50%); */
    right: 100%;
    border-right: 45px solid #000;
}
.section__heading--center::after{
    /* clip-path: polygon(0 0, 100% 50%, 0 100%, 0 100%); */
    left: 100%;
    border-left: 45px solid #000;
}

.shiny {
    background-size: 600% 100%;
    animation: shine 10s infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes shine {
	0% {
		background-position-x: 400%;
	}
	50% {
		background-position-x: 0%;
	}
	100% {
		background-position-x: -400%;
	}
}


/* header */

.header{
    width: 100%;
    position: relative;
    font-family: "Mochiy Pop One", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}
.header__wrapper{
    position: absolute;
    width: 100%;
    top: 24px;
    left: 0;
    display: flex;
    background-image: url(header_box.png);
    background-size: 100% 100%;
    height: 200px;
    padding: 15px 40px;
    justify-content: space-between;
}
.header__wrapper__logo__link{
    font-size: 2.5rem;
}
.header__wrapper__menu__list{
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 40px;
    padding: 5px 0;
}
.header__wrapper__menu__list__item__link{
    font-size: 1.1rem;
    transition: all .3s;
}
.header__wrapper__menu__list__item__link:hover{
    opacity: .6;
}

/* top-view */

.tv{
    position: relative;
    aspect-ratio: 1440 / 790 ;
    overflow: hidden;
    border-bottom: #000 solid 5px;
}
.tv__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(top_bg.jpg);
    background-size: cover;
    z-index: -1;
}
.tv__catch--1{
    position: absolute;
    width: 43vw;
    top: 75px;
    left: -25px;
    z-index: 1;
    transform: rotate(-25deg);
}
.tv__catch--2{
    position: absolute;
    width: 64.5vw;
    top: 225px;
    left: 277px;

    top: 29%;
    left: 19.5%;
    z-index: 1;
}
.tv__superman{
    position: absolute;
    bottom: -7%;
    right: -6%;
    width: 32vw;
    z-index: 2;
}

.tv__button{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
}
.tv__button_item{
    width: 30vw;
    position: relative;
    transition: all .3s;
}
.tv__button_item:hover{
    transform: scale(1.1);
}
.tv__button_item:first-child{
    margin-right: 70px;
}
.tv__button_item:first-child::before,
.tv__button_item:last-child::before{
    position: absolute;
    content: "";
    width: 30vw;
    height: 100%;
    background-color: #000;
    opacity: .7;
    filter: blur(2px);
    z-index: -1;
    bottom: -12px;
    right: -12px;
}
.tv__button_item:first-child::after,
.tv__button_item:last-child::after{
    position: absolute;
    content: "";
    background-image: url(all_dots_shadow_small.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: 20px;
    right: -40px;
    z-index: -1;
}

.tv__button_item_link{
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 2.2vw;
    font-family: "Mochiy Pop One", serif;
    font-weight: 400;
    font-style: normal;
    border: solid 8px;
    border-image: linear-gradient(138deg, rgba(0, 0, 0, 1) 60%, rgba(102, 102, 102, 1) 90%, rgba(0, 0, 0, 1) 100%) 1;
    padding: 10px 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    background-size: 600% 100%;
}
.tv__button_item_link--green{
    background: rgb(38,255,38);
    background: linear-gradient(138deg, rgba(38,255,38,1) 75%, rgba(255,255,255,1) 90%, rgba(38,255,38,1) 100%);
    background-size: 600% 100%;
}
.tv__button_item_link--red{
    background:  rgba(255,82,56,1);
    background: linear-gradient(138deg,  rgba(255,82,56,1) 75%, rgba(255,255,255,1) 90%,  rgba(255,82,56,1) 100%);
    background-size: 600% 100%;
/*     animation-delay: .25s; */
}
.tv__button_item_link:hover{
    animation: none;
}


/* campaipn */
/* 幅を100%-パディングにして他のセクションと合わせる？ */

.campaign{
    position: relative;
    width: 100%;
    aspect-ratio: 1440 / 535;
}

.campaign--cloud,
.campaign--spark{
    position: absolute;
    background-size: cover;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%); 
    /* z-index: -3; */
}
.campaign--cloud{
    background-image: url(reoson_cloud.png);
    height: 150%;
    background-position: 50%;
    max-width: 1794px;
    width: 100vw;
    /* height: 200%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1, 1);
    background-size: 1795px 100%;
    z-index: -2;
}
.campaign--spark{
    background-image: url(campaign_spark.png);
    aspect-ratio: 1204 / 406;
    z-index: -3;
}
.inner--campaign{
    position: absolute;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    aspect-ratio: 1000 / 310;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%); 
    border: #000 solid 5px;
    z-index: -4;
}
.campaign__text{
    font-family: "Mochiy Pop One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.7;
}
.campaign__text__red{
    color: #FF0000;
    font-size: 3rem;
}
.campaign__note{
    /* text-align: left; */
    position: absolute;
    bottom: 45px;
    text-align-last: left;
    left: 21%;
    /* transform: translateX(-50%); */
    font-size: 0.7rem;
    font-weight: 400;
}
.campaign__note::before{
    content: "\0203B";
    position: absolute;
    left: -12px;
}
.marker{
    position: relative;
}
.marker::after{
    position: absolute;
    content: "";
    width: 103%;
    height: 50%;
    background-color: #26FF26;
    left: -10px;
    bottom: 0;
    z-index: -1;
}
.inner--campaign--shadow{
    position: absolute;
    background-color: #000;
    width: 80%;
    aspect-ratio: 1000 / 310;
    /* height: 76%; */
    /* max-height: 317px; */
    top: 50%;
    left: 50%;
    transform: translate( -48% , -43%); 
    z-index: -5;
}
.campaign__speech-bubble{
    position: absolute;
    top: 12%;
    left: 9%;
    width: 19%;
    z-index: 1;
}

.campaign__button{
    position: absolute;
    right: 160px;
    bottom: 70px;
    transition: all .3s;
}
.campaign__button:hover{
    transform: scale(1.1);
}
.campaign__button__link{
    width: 360px;
    right: 10%;
    bottom: 12%;
    background: rgba(255,242,0,1) ;
    background: linear-gradient(138deg, rgba(255,242,0,1) 75%, rgba(255,255,255,1) 90%, rgba(255,242,0,1) 100%);
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Mochiy Pop One", serif;
    font-weight: 400;
    font-style: normal;
    border: solid 8px;
    border-image: linear-gradient(138deg, rgba(0, 0, 0, 1) 60%, rgba(102, 102, 102, 1) 90%, rgba(0, 0, 0, 1) 100%) 1;
    padding: 14px 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    background-size: 600% 100%;
}

.campaign__button__link::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    filter: blur(2px);
    z-index: -1;
    bottom: -12px;
    right: -12px;
}
.campaign__button__link::after{
    position: absolute;
    content: "";
    background-image: url(all_dots_shadow_small.png);
    background-size: 100%;
    background-position: right;
    width: 100%;
    height: 100%;
    top: 18px;
    right: -25px;
    z-index: -1;
}
.campaign__link__arrow{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 5px solid #000;
    border-right: 5px solid #000;
    transform: rotate(45deg) translate(3px, -5px);
    filter: drop-shadow(2px -1px 1px #fff);
}
@media screen and (max-width : 1280px) {
    .campaign__text{
        font-size: 2vw;
    }
    .campaign__text__red{
        font-size: 4vw;
    }
    .campaign__speech-bubble{
        top: 5%;
        left: 4%;
        width: 22%;
    }
    .campaign__link{
        width: 28vw;
        right: 5%;
        bottom: 10%;
        font-size: 2.1vw;
        border-width: 5px;
    }
    .campaign__link::after{
        top: 15px;
        right: -30px;
    }
}


/* target */

.target{
    background-color: #813D91;
    background-image: url(target_bg.png);
    background-repeat: no-repeat;
    border-bottom: #000 solid 5px;
    overflow: hidden;
}
.main-box--target{
    position: relative;
    height: 540px;
}
.target__superwoman{
    position: absolute;
    left: 0;
    bottom: -10px;
}
.container--target{
    padding: 50px 0;
}
.target__heading{
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    padding: 40px 0;
}
.target__heading__text{
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    -webkit-text-stroke: 11px #000;
    paint-order: stroke;
    font-size: 3rem;
    letter-spacing: .4rem;
    filter: drop-shadow(0px 8px 2px rgba(0, 0, 0, 0.6));
}
.target__heading__text--small{
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-text-stroke: 5px #000;
    letter-spacing: .1rem;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.6));
}
.target__list{
    /* max-width: 1100px; */
    /* background-color: #fff; */
    /* margin-left: auto; */
    /* border: #000 5px solid; */
    /* padding: 70px 0; */
    /* padding-left: 20%; */
    /* box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.6); */
    width: 100%;
    height: 100%;
    position: relative;
}
.target__list__item{
    /* font-weight: 900; */
    /* font-size: 2rem; */
    /* position: relative; */
    /* margin-bottom: 20px; */
    position: absolute;
    background-size: 100% 100%;
    color: #210000;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
}
.target__list__item:first-child{
    background-image: url(target_1.png);
    /* width: 517px; */
    /* height: 255px; */
    top: 0px;
    left: 240px;
    padding: 65px 180px 120px 120px;
}
.target__list__item:nth-child(2){
    background-image: url(target_2.png);
    /* width: 426px; */
    /* height: 256px; */
    top: 160px;
    left: 920px;
    padding: 80px 70px 110px 110px;
}
.target__list__item:nth-child(3){
    background-image: url(target_3.png);
    /* width: 476px; */
    /* height: 252px; */
    top: 250px;
    left: 420px;
    padding: 70px 110px 100px 60px;
}
.target__list__item:last-child{
    background-image: url(target_4.png);
    /* width: 567px; */
    /* height: 308px; */
    font-size: 1.8rem;
    font-weight: 800;
    top: 45px;
    left: 500px;
    padding: 90px 70px 120px 80px;
    line-height: normal;
}
/* .target__list__item::before{
    position: absolute;
    content: "\02022";
    left: -30px;
} */
.target__list__item__red{
    color: #FF5238;
    font-size: 2.1rem;
}

.target__guide{
    position: relative;
    z-index: 0;
    padding-left: 115px;
    /* margin-top: -50px; */
    bottom: 130px;
    left: 120px;
    left: 8%;
    display: inline-block;
}
.target__guide::after{
    position: absolute;
    content: "";
    background-image: url(target_guide.png);
    background-size: 100% 100%;
    width: 97%;
    height: 100%;
    top: 32px;
    left: 100px;
    z-index: -1;
}
.target__guide__text{
    font-size: 2.4vw;
    font-weight: 500;
    /* letter-spacing: -.1rem; */
    color: rgba(255,242,3,1);
    -webkit-text-stroke: 7px #000;
    paint-order: stroke;
    filter: drop-shadow(0px 6px 2px #000000);
}
.target__guide__text__big {
    position: relative;
    -webkit-text-stroke: 8px #000;
    font-size: 3.6vw;
    margin-left: -10px;
}
@media screen and (min-width: 1440px) {
.target__guide__text{
    font-size: 2.2rem;
}
.target__guide__text__big{
    font-size: 3.3rem;
}
}
.target__guide__text__big::after {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-txt);
    background: linear-gradient(0deg, rgba(255,242,3,1) 50%, rgba(255,255,255,1) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-text-stroke: 1px transparent;
}
.target__guide__text__dots {
    background-image: radial-gradient(circle at center, #FFF203, #FFF203 20%, #000 20%,#000 30%, transparent 30%); /* 点の色とサイズ調整 */
    background-position: top right; /* 点の位置 */
    background-repeat: repeat-x; /* 横方向に繰り返し */
    background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
    padding-top: .25em; /* 縦方向の位置調整 */
}


/* concept */

.concept{
    background-color: #FFC800;
    margin-top: 60px;
}
.inner--concept{
    background-image: url(concept_bg.jpg);
    background-size: cover;
    border: #000 5px solid;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.6);
    padding: 80px 100px;

}
.concept__big-text{
    font-size: 2.6rem;
    margin-bottom: 20px;
    background-color: #E6E6E6;
    width: fit-content;
}
.concept__big-text__small{
    font-size: 1.8rem;
}
.concept__big-text__indent{
    margin-left: 100px;
}
.concept__small-text{
    font-size: 1.4rem;
    margin-bottom: 20px;
}


/* miss */

.miss{
    margin-top: -5px;
    padding: 0;
    border: none;
}
.miss__heading{
    position: relative;
}
.section__heading--miss{
    font-size: 2rem;
    padding-right: 300px;
    top: 50px;
}
.section__heading--miss--pattern{
    font-size: 3.9rem;
    background: url(miss_heading_bg.png);
    background-size: cover;
    background-clip: text;
    color: transparent;
}


/* reason */

.reason{
    position: relative;
    z-index: 0;
    /* padding: 0 25px; */
}
.reason::after{
    position: absolute;
    content: "";
    background-image: url(reoson_cloud.png);
    background-position: 50%;
    max-width: 1794px;
    width: 100vw;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
}
.reason__heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: #FFC800;
    -webkit-text-stroke: 11px #000;
    paint-order: stroke;
    line-height: 1.2;
    filter: drop-shadow(0px 6px 1px #000000);
    letter-spacing: .2rem;
}
.reason__heading__small{
    font-size: 2rem;
    -webkit-text-stroke: 8px #000;
}
.reason__heading__red{
    color: #FF3838;
    margin-left: -12px;
    margin-right: 10px;
    letter-spacing: -.4rem;
}

.reason__list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    counter-reset: number 0;
}
.reason__list__item{
    background-color: #fff;
    width: 23%;
    border: #000 5px solid;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    padding: 15px 14px;
    font-weight: 600;
    position: relative;
}
.reason__list__item::before{
    position: absolute;
    counter-increment: number 1;
    content: counter(number);
    font-size: 3rem;
    color: #FFC800;
    background-color: #000;
    display: inline-block;
    width: 75px;
    padding: 0 0 5px;
    text-align: center;
    top: 0;
    left: 0;
}

.reason__list__item__title{
    font-size: 2.5rem;
    line-height: 1.2;
    padding-left: 80px;
}
.reason__list__item:first-child > .reason__list__item__title{
    font-size: 2.9rem;
    line-height: .5;
    padding-top: 29px;
    padding-bottom: 20px;
    padding-left: 90px;
}
.reason__list__item:nth-child(3) > .reason__list__item__title{
    font-size: 2.8rem;
    line-height: .35;
    padding-top: 27px;
    padding-bottom: 22px;
}

.reason__list__item__title__indent{
    margin-left: 60px;
}
.reason__list__item:nth-child(3) .reason__list__item__title__indent:first-of-type{
    margin-left: 48px;
}
.reason__list__item:nth-child(3) .reason__list__item__title__indent:last-of-type{
    margin-left: 99px;
}
.reason__list__item:nth-child(4) .reason__list__item__title__indent{
    margin-left: 40px;
}
.reason__list__item__data{
    font-size: 1rem;
    color: #313131;
    margin-top: 20px;
    text-align: justify;
    letter-spacing: -.04rem;
    line-height: 1.6rem;
}
.reason__list__item__data__highlight{
    color: #313131;
    font-size: 1.2rem;
    background: linear-gradient(transparent 43%, #FEF203 43%);
    z-index: 10;
    padding: 0 0.06em;
}

.service{
    background-color: #0077FF;
    margin-top: 200px;
}


/* service */

.service{
    padding-top: 240px;
}
.service__haeding__sub{
    top: 140px;
    background: #000;
    padding-right: 50px;
    padding-left: 160px;
}
.service__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    gap: 8px;
    z-index: 0;
}

.service__list__item{
    border: #000 5px solid;
    position: relative;
    cursor: pointer;
}
.service__list__item::before{
    position: absolute;
    content: "";
    width: 107%;
    height: 105%;
    background-color: #000;
    opacity: .6;
    filter: blur(5px);
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.service__list__item__title{
    color: #FEF203;
    background-color: #000;
    text-align: center;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    line-height: 1.2;
}
.service__list__item__title__small{
    font-size: 0.6em;
}
.service__list__item__card{
    /* display: none; */
    position: absolute;
    background-color: #FEF203;
    background-color: #FFF;
    width: 100%;
    height: calc(100% - 90px);
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: rotateY(90deg);
    transition: all .3s;
}

.service__list__item:hover .service__list__item__card{
    opacity: 1;
    transform: rotateY(0deg);
}
.service__list__item__card__list{
    width: 100%;
    color: #000;
}
.service__list__item__card__list__item{
    list-style-type: disc;
    margin-left: 22px;
}
.service__list__item__card__detail{
    text-align: center;
    color: #0077FF;
    font-size: 1.5rem;
}
.service__list__item__card__detail__price{
    letter-spacing: .1rem;
}
.service__list__item__card__detail__note{
    font-size: .6em;
}


/* project */

.project{
    background-color: #FFC800;
    margin-top: -5px;
    padding: 200px 0 0;
}

.project__list{
    overflow: hidden;
    padding-bottom: 20px;
}
.project__list__item{
    background-color: #fff;
    border: #000 5px solid;
    border-right: none;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.6);
    width: 85%;
    margin-left: auto;
    margin-bottom: 50px;
}
.project__list__item:nth-child(2){
    margin-right: auto;
    margin-left: 0;
    border-right: #000 5px solid;
    border-left: none;
}
.project__list__item:last-child{
    margin-bottom: 0;
}
.project__list__item__name{
    display: inline-block;
    color: #FEF203;
    background-color: #000;
    width: fit-content;
    padding: 10px 20px 10px 100px;
    font-size: 2rem;
    position: relative;
}
.project__list__item__name::before{
    position: absolute;
    content: "";
    top: 65px;
    left: 0;
    width: 100%;
    height: 23px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: #000;
}
.project__list__item__name::after{
    position: absolute;
    content: "";
    top: -1px;
    left: calc(100% - 1px);
    height: 89px;
    width: 30%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: #000;
}
.project__list__item__content{
    display: flex;
    padding: 20px 30px;
    font-weight: 900;
    justify-content: space-between;
    height: 232px;
}
.project__list__item__content__title{
    display: flex;
    width: 70%;
}
.project__list__item__content__title__imgbox,
.project__list__item__content__title__text,
.project__list__item__content__lead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.project__list__item__content__title__imgbox img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border: solid 5px #000;
}
.project__list__item__content__title__text{
    font-size: 2rem;
    margin-left: 30px;
}
.project__list__item__content__lead{
    width: 40%;
    padding-right: 20px;
}


/* flow */

.flow,
.faq{
    background: repeating-linear-gradient(135deg, #65C442, #65C442 15px, #26FF26 15px, #26FF26 30px);
    border-top: #000 5px solid;
    border-bottom: #000 5px solid;
    padding-top: 270px;
    position: relative;
}

.flow{
    margin-top: 50px;
    padding-bottom: 320px;
}

.flow__list{
    display: flex;
    justify-content: space-between;
    counter-reset: number 0;
    position: relative;
}
.flow__list::before{
    position: absolute;
    content: "";
    width: 100vw;
    height: 450px;
    clip-path: polygon(-25% 60%, 120% 0, 75% 100%);
    background-color: #000;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.flow__list__item{
    width: 25%;
    position: relative;
    z-index: 0;
    padding: 50px 0 50px 60px;
    margin-right: -4.75%;
}
.flow__list__item:first-child{
    width: 22%;
    padding-left: 25px;
}
.flow__list__item:last-child{
    width: 22%;
    margin-right: 0;
}
.flow__list__item::before{
    position: absolute;
    content: "";
    /* width: 133%; */
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-size: 100% 100%;
    z-index: -1;
}
.flow__list__item:first-child::before{
    background-image: url(flow_1.png);
}
.flow__list__item:nth-child(2)::before{
    background-image: url(flow_2.png);

}
.flow__list__item:nth-child(3)::before{
    background-image: url(flow_3.png);

}
.flow__list__item:nth-child(4)::before{
    background-image: url(flow_4.png);

}
.flow__list__item:last-child::before{
    background-image: url(flow_5.png);
    /* width: 138%; */
}
.flow__list__item::after{
    position: absolute;
    content: "";
    top: -45px;
    left: 115px;
    z-index: 2;
    counter-increment: number 1;
    content: counter(number);
    font-size: 4.2rem;
    color: #fff;
    -webkit-text-stroke: 9px #000;
    paint-order: stroke;
    filter: drop-shadow(4px 4px .5px #000000);
    transform: skewX(-20deg);
}
.flow__list__item:first-child::after{
    left: 55px;
}

.flow__list__item__title{
    color: #fff;
    -webkit-text-stroke: 7px #000;
    paint-order: stroke;
    filter: drop-shadow(3px 3px .5px #000000);
    font-size: 2rem;
    padding-left: 20px;
    transform: skewX(-15deg);
}
.flow__list__item:first-child > .flow__list__item__title{
    padding-left: 5px;
}
.flow__list__item:nth-child(3) > .flow__list__item__title{
    padding-left: 12px;
}
.flow__list__item__lead{
    margin-top: 30px;
    padding-right: 65px;
    font-weight: 400;
    text-align: justify;
}
.flow__list__item:first-child > .flow__list__item__lead{
    margin-left: 0;
}
.flow__list__item:last-child > .flow__list__item__lead{
    padding-right: 25px;
}
.flow__list__item__lead:nth-of-type(2){
    margin-top: 10px;
    margin-left: -15px;
    padding-right: 80px;
}

.flow__message{
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%) skew(-15deg);
    width: 1040px;
    font-weight: 500;
}
.flow__message span{
    background: linear-gradient(0deg, rgba(255,242,3,1) 0%, rgba(255,255,255,1) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


/* faq */

.faq{
    margin-top: -5px;
    padding-bottom: 80px;
}
.faq__list__item{
    width: 100%;
    margin-bottom: 20px;
}
.faq__list__item__contents{
    display: flex;
    background-color: #fff;
    border: #000 5px solid;
    cursor: pointer;
    padding: 20px 30px;
    margin-right: auto;
}
.faq__list__item__contents--a{
    background-color: #fef203;
    cursor: auto;
    border-top: none;
    opacity: 1;
    transition: .3s;
	/* transform: translatex(200%); */
}
.answer{
    display: none;
}

.faq__list__item__contents__icon{
    font-size: 2.5rem;
    color: #fff;
    background-color: #FF5238;
    width: 72px;
    height: fit-content;
    border-radius: 50%;
    text-align: center;
    border: #000 solid 5px;
    line-height: 1;
    padding: 6px 0 16px 0;
    margin-right: 30px;
}
.faq__list__item__contents__icon--a{
    color: #FF5238;
    background-color: #FFF;
    padding: 9px 0 13px 0;
}
.faq__list__item__contents__text{
    font-size: 1.4rem;
    width: 80%;
    height: fit-content;
    padding: 19px 0;
}
.faq__list__item__contents__text--a{
    font-size: 1rem;
    padding: 10px 0;
}

.faq__list__item__contents__cross{
    position: relative;
    width: 40px;
    height: 40px;
    top: 15px;
    right: -30px;
}
.faq__list__item__contents__cross__item{
    position: absolute;
    display: inline-block;
    background-color: #000;
}
.faq__list__item__contents__cross__item:first-child{
    width: 100%;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.faq__list__item__contents__cross__item:last-child{
    width: 8px;
    height: 100%;
    top: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: all .3s;
}
.open .faq__list__item__contents__cross__item:last-child{
    /* opacity: 0; */
    transform: rotate(90deg) translateY(4px);
}



/* contact */

.contact{
    padding: 100px 0;
    background-image: url(all_dots-bottom.png);
    background-repeat: repeat-x;
    background-position: bottom;
    text-align: center;
}
.contact__guide{
    width: 650px;
    display: inline-block;
    background-image: url(contact_line.png);
    background-size: 100% 100%;
    color: #fff;
    padding: 25px 0 85px;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.3;
    filter: drop-shadow(6px 12px 3px rgba(0, 0, 0, .6));
}
.contact__guide--line{
    margin-bottom: 20px;
    transition: all .3s;
}
.contact__guide--line:hover{
    scale: 1.1;
}
.contact__form{
    width: 100%;
    width: 650px;
    margin: 0 auto;
    background-image: url(contact_bg.png);
    background-size: cover;
    background-position: bottom center;
    /* border: #000 5px solid; */
    outline: #000 5px solid;
    outline-offset: -5px;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}
.contact__form::after{
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: 100%;
    opacity: .6;
    filter: blur(6px);
    background-color: #000;
    top: 10px;
    left: -10px;
    z-index: -1;
}
.contact__guide--form{
    background-image: url(contact_form.png);
    filter: none;
}
.contact__guide__big{
    font-size: 2.1rem;
    font-weight: 900;
}
.contact__guide--line > .contact__guide__big{
    color: #26FF26;
    letter-spacing: 2px;
}
.contact__guide--form > .contact__guide__big{
    color: #FF5238;
}
.contact__form__list{
    width: 100%;
    padding: 120px 80px 20px;
    margin-top: -87px;
}
.contact__form__list__item{
    display: flex;
    background-color: rgba(255, 255, 255, .6);
    border: #000 5px solid;
    margin-bottom: 30px;
}
.contact__form__list__item:last-child{
    height: 250px;
    display: block;
}
.contact__form__list__item__title{
    color: #fff;
    background-color: #000;
    width: fit-content;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1em;
    /* margin-bottom: 30px; */
}
.contact__form__list__item__data{
    padding: 8px 15px;
    flex-grow: 1;
    height: 100%;
}
.contact__form__list__item:last-child > .contact__form__list__item__data{
    height: calc(100% - 40px);
}
.contact__form__list__item__data input,
.contact__form__list__item__data textarea{
    width: 100%;
    height: 100%;
}
.contact__form__button{
    background-image: url(contact_send.png);
    background-size: 100% 100%;
    padding: 20px 150px 40px 100px;
    cursor: pointer;
    display: inline-block;
    filter: drop-shadow(6px 12px 3px rgba(0, 0, 0, .6));
    transition: all .3s;
}
.contact__form__button:hover{
    scale: 1.1;
}
.contact__form__button input{
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .5em;
}


/* footer */

.footer{
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}
.footer__name{
    font-size: 3rem;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.footer__inner__menu__list{
    display: flex;
}
.footer__inner__menu__list__item:nth-child(2){
    position: relative;
    margin: 0 40px;
}
.footer__inner__menu__list__item:nth-child(2)::before,
.footer__inner__menu__list__item:nth-child(2)::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 70%;
    background-color: #fff;
    top: 50%;
    transform: skew(-30deg, 0deg) translateY(-50%);
}
.footer__inner__menu__list__item:nth-child(2)::before{
    left: -23px;
}
.footer__inner__menu__list__item:nth-child(2)::after{
    right: -21px;    
}
.footer__inner__menu__list__item__link{
    color: #fff;
    font-weight: 500;
}
.footer__inner__copyright{
    font-weight: 500;
    font-size: .85rem;
}
.footer__inner__copyright__text{
    margin-right: 10px;
}
.footer__innerr__copyright__credit,
.footer__innerr__copyright__credit > a{
    color: #565656;
    opacity: .8;
}
.footer__innerr__copyright__credit > a{
    text-decoration: underline;
}


/* side-menu */

.side-menu{
    display: inline-block;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 10;
}
.side-menu__list__item__link{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1rem;
    color: #fff;
    padding: 27px 20px 0 25px;
    height: 315px;
    letter-spacing: 0.1em;
    background-size: 100% 100%;
    width: 100%;
    transition: all .3s;
}
.side-menu__list__item__link:hover{
    /* opacity: .9; */
    filter: grayscale(70%);
}
.side-menu__list__item:first-child > .side-menu__list__item__link{
    background-image: url(side-menu_line.png);
    padding-top: 35px;
}
.side-menu__list__item:last-child > .side-menu__list__item__link{
    background-image: url(side-menu_form.png);
}
.side-menu__list__item__link--line{
    color: #26FF26;
    font-size: 1.2rem;
}
.side-menu__list__item__link--form{
    color: #FF5238;
    font-size: 1.1rem;
}


/* to-top */

.to-top{
    position: fixed;
    right: 10px;
    bottom: 20px;
    background-color: #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.to-top span{
    background-color: #fff;
    bottom: 0;
    display: inline-block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
}
.to-top span:first-child{
    transform: rotate(45deg) translate(3px, -3px);
}
.to-top span:last-child{
    transform: rotate(-45deg) translate(-3px, -3px);
}

/* overview */
.overview {
    width: 100%;       /* 幅いっぱい */
    height: 100vh;     /* 高さいっぱい */
    background: rgba(0, 0, 0, 0.7); /* 背景を薄暗くする */
    display: none;     /* デフォルトは非表示 */
    position: fixed;   /* 表示位置を絶対指定して固定 */
    top: 0;            /* 表示位置を上から0pxに指定 */
    left: 0;           /* 表示位置を左から0pxに指定 */
    z-index: 10;
}

.overview__wrap {
    position: absolute; /* 相対位置とする、かつcloseの基準値になる。 */
    top: 50%;           /* 表示位置を上から50%に指定 */
    left: 50%;          /* 表示位置を左から50%に指定 */
    transform: translate(-50%, -50%); /* 上下中央にするため要素の半分分だけ左上に戻す */
    width: 30%;
}
.overview__wrap__close {
    background: #00123A;   /* 背景色を白に指定 */
    position: absolute; /* 相対位置とする */
    top: -45px;         /* いい感じの位置に指定 */
    right: 0px;         /* 同様 */
    cursor: pointer;    /* hover時にカーソルを指の形にする */
    width: 40px;
    height: 40px;
    
}
.overview__wrap__close::before,
.overview__wrap__close::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 25px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overview__wrap__close::before{
    transform: translate(-50%, -50%) rotate(45deg);
}
.overview__wrap__close::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}
